@model StrongSite.Models.User

<div style="margin: 20px 0px 20px 0px">
    <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h2 class="text-coclor">Профиль</h2>
    </div>
</div>

<div class="container py-4 py-xl-5">
    <div class="row gy-4 row-cols-1 row-cols-md-2">
        <div class="col">
            <div class="card mb-5 form-radius">
                <div class="card-body formlogin d-flex flex-column">
                    @using (Html.BeginForm("ListOfEmployeesSave", "Admin", FormMethod.Post))
                    {
                        try
                        {
                            <div class="mb-3">
                                <label class="form-label">Идентификатор</label>
                                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "form-label" })
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Идентификатор роли</label>
                                @Html.EditorFor(model => model.RoleId, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "form-label" })
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Идентификатор менеджера</label>
                                @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Email(Логин)</label>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "form-label" })
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Пароль</label>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "form-label" })
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Ф.И.О</label>
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "form-label" })
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Телефон</label>
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "form-label" })
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Номер карты</label>
                                @Html.EditorFor(model => model.Bankcards, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Bankcards, "", new { @class = "form-label" })
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Статус</label>
                                @Html.DropDownList("Status", new MultiSelectList(new string[] { "Работает", "Уволен(а)" }), new { @class = "form-select" })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "form-label" })
                            </div>
                            if (!User.IsInRole("Инструктор") && ViewBag.AccessLevel == "Стажёр")
                            {
                                <div class="mb-3">
                                    <label class="form-label">Тип пользователя</label>
                                    @Html.DropDownList("AccessLevel", new MultiSelectList(new string[] { "Инструктор", "Стажёр" }), new { @class = "form-select" })
                                    @Html.ValidationMessageFor(model => model.AccessLevel, "", new { @class = "text-danger" })
                                </div>
                            }
                            else
                            {
                                <div class="mb-3">
                                    <label class="form-label">Тип пользователя</label>
                                    @Html.EditorFor(model => model.AccessLevel, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.AccessLevel, "", new { @class = "text-danger" })
                                </div>
                            }
                            <div class="mb-3">
                                <label class="form-label">Баланс</label>
                                @Html.EditorFor(model => model.Balance, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Balance, "", new { @class = "form-label" })
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-block w-100" type="submit">Сохранить</button>
                            </div>
                        }
                        catch
                        {

                        }
                    }
                </div>
            </div>
        </div>
        <div class="col">
            <div id="central-area" class="central-area">
                <div class="main multiple-choice">
                    <div class="hint main-one row column">
                        <span class="hint-text shiny-box choice clearfix">Доступно к выплате: <strong>@Html.DisplayFor(model => model.Balance)</strong></span>
                    </div>
                    <ol class="choices clearfix ">
                        <a href="@Url.Action("CustomerRegistry", "Customer", new { statusList = "В ожидании", creatorList = @ViewBag.UserName })">
                        <li class="shiny-box choice clearfix" data-choice-id="0">
                            <img class="lfkmasui" src="~/Resources/imgBotton/Refresh.png" /><br />
                            <span class="val ">В ожидании: <br /><strong>@ViewBag.Pending</strong></span>
                        </li>
                        </a>
                        <a href="@Url.Action("CustomerRegistry", "Customer", new { statusList = "Одобрена", creatorList = @ViewBag.UserName })">
                        <li class="shiny-box choice clearfix" data-choice-id="1">
                            <img class="lfkmasui" src="~/Resources/imgBotton/Approve.png" /><br />
                            <span class="val ">Одобренно: <br /><strong>@ViewBag.Apruve</strong></span>
                        </li>
                        </a>
                        <a href="@Url.Action("CustomerRegistry", "Customer", new { statusList = "Отклонена", creatorList = @ViewBag.UserName })">
                        <li class="shiny-box choice clearfix" data-choice-id="2">
                            <img class="lfkmasui" src="~/Resources/imgBotton/Close.png" /><br />
                            <span class="val ">Отклонено: <br /><strong>@ViewBag.Rejected</strong></span>
                        </li>
                        </a>
                        <a href="@Url.Action("CustomerRegistry", "Customer", new { statusList = "Оплачено", creatorList = @ViewBag.UserName })">
                        <li class="shiny-box choice clearfix" data-choice-id="3">
                            <img class="lfkmasui" src="~/Resources/imgBotton/Wallet.png" /><br />
                            <span class="val ">Оплачено: <br /><strong>@ViewBag.Pymant</strong></span>
                        </li>
                        </a>
                    </ol>
                    <div class="hint main-two row column">
                        <span class="hint-text shiny-box choice clearfix">Закон вероятности: <strong>@ViewBag.Probability %</strong></span>
                    </div>


                    <div class="card mb-4" style="width: 99%;">
                        <div class="card-header py-3 text-coclor-black">
                            <h6 class="text-primary fw-bold m-0">Общая статистика</h6>
                        </div>
                        <div class="card-body">
                            <h4 class="small fw-bold">В ожидании<span class="float-end">@ViewBag.PendingProc%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-primary" aria-valuenow="@ViewBag.PendingProc" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.PendingProc%;"><span class="visually-hidden">@ViewBag.PendingProc%</span></div>
                            </div>
                            <h4 class="small fw-bold">Одобрено<span class="float-end">@ViewBag.ApruveProc%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar" aria-valuenow="@ViewBag.ApruveProc" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.ApruveProc%; background-color:green;"><span class="visually-hidden">@ViewBag.ApruveProc%</span></div>
                            </div>
                            <h4 class="small fw-bold">Отклонено<span class="float-end">@ViewBag.RejectedProc%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar" aria-valuenow="@ViewBag.RejectedProc" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.RejectedProc%; background-color:red;"><span class="visually-hidden">@ViewBag.RejectedProc%</span></div>
                            </div>
                            <h4 class="small fw-bold">Оплачено<span class="float-end">@ViewBag.PymantProc%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar" aria-valuenow="@ViewBag.PymantProc" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.PymantProc%; background-color:purple;"><span class="visually-hidden">@ViewBag.PymantProc%</span></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .choice { /*NEW*/
        display: inline-block;
    }

    .central-area {
        position: relative;
        z-index: 300;
    }

    .multiple-choice .question-row .question-text {
        display: inline;
        word-wrap: break-word;
        color: #3E3E3E;
        float: left;
        font-family: "Times New Roman","Times","Kai","KaiTi",Serif;
        font-size: 28px;
        line-height: 30px;
        padding-top: 15px;
        width: 360px;
    }

    .main-one {
        padding: 0px 20px 10px 10px;
    }

    .main-two {
        padding: 0px 16px 10px 10px;
    }

    .multiple-choice .hint .hint-text {
        display: block;
        float: left;
        font-size: 20px;
        padding: 1.5rem !important;
        padding: 10px;
        overflow: hidden
    }

    .multiple-choice ol {
        display: block;
        list-style-type: none;
        padding: 0;
    }

    .multiple-choice li {
        width: 49%;
        height: 175px;
        text-align: center;
        padding: 45px 10px 10px 10px;
        overflow: hidden;
        font-size: 20px;
    }

    .shiny-box {
        background-color: white;
        border-radius: 0.375rem;
    }

    .lfkmasui {
        width: 30px;
    }

    .dasdarrsd {
        font-size: 20px;
        padding: 3px 0 10px 0;
    }

    a {
        text-decoration: none;
    }

    p {
        margin-bottom: 0px;
    }
</style>