@using StrongSite.Models
@using StrongSite.Helpers
@model ModelContext

<div class="btn-group form-inline-filter">
    @Html.PageLinks(Model.PageViewModel, x => Url.Action("Reference", new
    {
        page = x,
        referenceList = ViewBag.referenceList,
        userList = ViewBag.userList,
        idPlatformList = ViewBag.idPlatformList,
        bankList = ViewBag.bankList,
        productTypeList = ViewBag.productTypeList
    }))
    <button class="btn-filter" type="button" id="example_2_1" onclick="document.getElementById('example_2').style.display='block'; document.getElementById('example_2_1').style.display='none'; document.getElementById('example_2_2').style.display='block';" style="margin-left:10px"></button>
    <button class="btn-filter" type="button" id="example_2_2" onclick=" document.getElementById('example_2').style.display='none'; document.getElementById('example_2_2').style.display='none'; document.getElementById('example_2_1').style.display='block';" style="margin-left:10px; display:none;"></button>
</div>

<form method="get" id="example_2" style="display:none;">
    <div class="form-inline-filter">
        <input name="referenceList" placeholder="Карта" class="input-filter" />
        <input name="userList" placeholder="Имя пользователя" class="input-filter" />
        <input name="idPlatformList" placeholder="Номер полощадки" class="input-filter" />
        <input name="bankList" placeholder="Банк" class="input-filter" />
        <input name="productTypeList" placeholder="Тип продукта" class="input-filter" />
        <button class="blok-link-filter">
            Фильтр
        </button>
    </div>
</form>
<form action="" method="post">
    <div class="size_block">
        <a class="btn btn-primary dsafhjy" href="#" style="margin-top:0px;" data-bs-toggle="modal" data-bs-target="#exampleModalReference" title="Удалить">
            Удалить
        </a>
        <input type="submit" value="Редактировать" name="action:ReferenceEdit" class="btn btn-primary dsafhjy">
        @if (User.IsInRole("Руководитель"))
        {
            <a class="btn btn-primary dsafhjy klsadjksad" href="@Url.Action("ReferenceAdd", "ReferenceCard")">+ Добавить</a>
        }
    </div>
    <div class="table-wrap">
        <table id="customers" class="record_table">
            <thead>
                <tr>
                    <th scope="col" style="text-align: center;">✔ </th>
                    <th scope="col" style="text-align: center;">Карта</th>
                    <th scope="col" style="text-align: center;">Банк</th>
                    <th scope="col" style="text-align: center;">Тип продукта</th>
                    <th scope="col" style="text-align: center;">Имя пользователя</th>
                    <th scope="col" style="text-align: center;">Номер полощадки</th>
                    <th scope="col" style="text-align: center;">Ссылка</th>
                </tr>
            </thead>
            <tbody>
                @foreach (References item in Model.ReferencePage)
                {
                    <tr>
                        <td scope="row" data-label="✔">
                            <input type="checkbox" name="arrayId" value="@item.Id" />
                        </td>
                        <td data-label="Карта" scope="row">
                            @Html.DisplayFor(modelItem => item.Cards_Id.Title)
                        </td>
                        <td data-label="Банк" scope="row">
                            @Html.DisplayFor(modelItem => item.Cards_Id.BankName)
                        </td>
                        <td data-label="Тип продукта" scope="row">
                            @Html.DisplayFor(modelItem => item.Cards_Id.ProductType)
                        </td>
                        <td data-label="Имя пользователя" scope="row">
                            @Html.DisplayFor(modelItem => item.User_Id.UserName)
                        </td>
                        <td data-label="Номер полощадки" scope="row">
                            @Html.DisplayFor(modelItem => item.IdPlatform)
                        </td>
                        <td data-label="Ссылка" scope="row">
                            @Html.DisplayFor(modelItem => item.Link)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- Модальное окно -->
    <div class="modal fade" id="exampleModalReference" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-coclor-black" id="exampleModalLabel">Подтвердите действие!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-footer" style="margin: auto;">
                    <input type="submit" class="btn btn-primary" value="Удалить" name="action:DeleteReference" />
                </div>
            </div>
        </div>
    </div>
</form>

